.centerForm {
    background-color: #ffffffd1;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5% !important;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
    width: 500px;
    height: 500px;
}

.centerForm2 {
    background-color: #ffffffd1;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5% !important;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
    width: 500px;
    height: 650px;
}


.img-fluid {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-top: 3% !important;
}

body {
    background-color: #3870d925 !important;
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    color: #1b1a1a;
    text-align: center;
    margin-top: 5%;

}

.centerlog {
    background-color: hsla(0, 0%, 100%, 0.82);
    font-family: 'Montserrat', sans-serif;
    margin-top: 5% !important;
    border-radius: 30px;
    padding: 30px;
    font-size: 20px;
    width: 500px;
    height: 350px !important;
}

.createaccount {
    background-color: #ffffffd1;
    font-family: 'Roboto', sans-serif;
    margin-top: 2% !important;
    border-radius: 30px;
    padding: 40px;
    font-size: 20px;
    width: 500px;
    height: 450px;
}

.paddingbutton {
    padding: 10px;
}



.pp {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-bottom: 5% !important;
    border-radius: 30px
}

a {
    font-size: small;
    text-align: center;
}


.breadcrumb {
    padding: 0 .5rem;
    justify-content: center !important;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}